$primary--color: #014E56;
$white--color: #ffffff;
$black--color: #000000;

$section-color: #f4f4f4;
$text--color: #ffffff;
$milk--color: #aaaaaa;
$dark--color: #000000;
$dark--blue: #242424;
$black--none: #333333;