$white--color: #ffffff;
$black--color: #000000;
$black--min: #282828;

$midnight--green: #014e56;
$light--coral: #f67e7e;
$rapture--blue: #79c8c7;
$police--blue: #2c6269;
$deep--jungle--green: #004047;
$sacramento--state--green: #4c4c4c;
$dark--green: #002529;
$darkness--green: #012F34;