@use "../abstracts/variables.scss" as var;
@use "../abstracts/mixins.scss" as mix;

#header {
  padding: 80px 0px;
//   background: var.$primary--color;
  color: var.$white--color;

  nav {
    .nav-container {
      @include mix.df-jcsb-aic;

      ul {
        @include mix.df-jcsb-aic;

        svg {
          padding-right: 40px;
        }

        a {
            padding-left: 40px;
        }
      }
    }
  }
}
