#header {
  padding: 80px 0px;
  color: #ffffff;
}
#header nav .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header nav .nav-container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header nav .nav-container ul svg {
  padding-right: 40px;
}
#header nav .nav-container ul a {
  padding-left: 40px;
}