* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease;
  font-family: "Livvic", sans-serif;
}

.container {
  width: min(100% - 15px, 840px);
  margin-inline: auto;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

button {
  border: none;
  cursor: pointer;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

input:focus {
  outline: none;
}

::-moz-placeholder {
  color: unset;
}

::placeholder {
  color: unset;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:where(:not(html, iframe, canvas, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

@font-face {
  font-family: Livvic;
  src: url(../../fonts/Livvic.ttf);
}
.button {
  padding: 9px 0px 11px;
  width: 100%;
  max-width: 153px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  border: 2px solid #ffffff;
  border-radius: 25px;
  text-align: center;
}
.button:hover {
  background: #ffffff;
  color: #014E56;
  transition-duration: 1s;
}

.continer {
  margin-inline: auto;
  background: black;
  width: 1600px;
  height: 800px;
}